.main-sidebar-menu{
    height: 100%;
    padding-inline: 0px 20px;
    padding-block: 0px;
    h3{
        color: var(--netflix-primary);
        font-family: var(--sitefont);
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 40px;
        letter-spacing: 3px;
    }
    ul{
        padding: 0px;
        list-style: none;
        margin-block: 5px 0px;
        li{
            margin-bottom: 5px;
            font-family: var(--sitefont);
            font-size: 0.9rem;
            font-weight: 400;
            margin-bottom: 15px;
            color: var(--netflix-log-heading);
            cursor: pointer;
            text-transform: capitalize;
            ul{
                padding-left:15px;
                margin-bottom: 15px;
            }
            &:hover{
                color: var(--netflix-primary);
            }
            a{
                &:hover{
                    color: var(--netflix-primary);
                }
            }
        }
    }
}